@model OrderManipulation
@using BLL;

<head>
    <style>

        #type {
            float: left;
            width: 50%;
        }

        #size {
            float: right;
            width: 50%;
        }

        #size_inner {
            float: right;
        }

        #marg {
            margin-left: 50%;
        }

        #paragraph {
            float: none;
            width: 65%;
            margin: 5%;
        }
    </style>
</head>
<center>
    <h2>Welcome to StarSubs</h2>
</center>
<form method="post" >
    <div id="type">
        @Html.ListBoxFor(x => x.Type, Model.Types, new {required="required" })
    </div>
    <div id="size">
        @Html.ListBoxFor(x => x.Size, Model.Sizes, new { id = "size_inner" , required="required"})
    </div>
    <br>
    <div id="paragraph">

        <p id="marg"> Select a Meal Deal</p>

        <div id="marg">
            @Html.EditorFor(Model => Model.Ammount,
           new { htmlAttributes = new { @type = "number",
               @min = "0", @step = "1", @value = "1" , required="required" } })
            @foreach (var dealName in Model.Deals)
            {
                <label>
                    @Html.RadioButtonFor(x => x.Deal, dealName, new { @checked = "checked" })
                    @dealName
                </label>
            }
        </div>
        <br>
        <div id="marg">
            <button class="btn btn-primary" id="submit">Submit</button>

        </div>
    </div>
</form>

